table{
    margin: 0 auto;
    text-align: center;
    
}

table th,
table td {
    text-align: center;
    vertical-align: middle;
    font-size: .8em;
    //padding: 0;
}

table tr{
    padding:5px;
}

a {
    text-decoration: none;
}

button:hover a {
    color: white;
}





