<p>tabla works!</p>
<h1>Biblioteca</h1>
<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Titulo</th>
        <th scope="col">Imagen</th>
        <th scope="col">Autor</th>
        <th scope="col">genero</th>
        <th scope="col">Año de lanzamiento</th>
        <th scope="col">Ranking</th>
        <th scope="col">Descargar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let libro of libros" class="table-dark">
        <th scope="row">{{libro.nombre}}</th>
        <td><img [src]="libro.imagen" alt="{{libro.nombre}}" width="140px"></td>
        <td>{{libro.autor}}</td>
        <td>{{libro.genero}}</td>
        <td>{{libro.anio}}</td>
        <td>{{libro.ranking}}</td>
        <td><button type="button" class="btn btn-success">Descargar</button></td>
      </tr>
    </tbody>
  </table>