<div class="table-responsive">
<table class="table table-hover table-sm">
    <thead>
      <tr>
        <th scope="col">Titulo</th>
        <th scope="col">Imagen</th>
        <th scope="col">Autor</th>
        <th scope="col">genero</th>
        <th scope="col">Año de lanzamiento</th>
        <th scope="col">Ranking</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let libro of libros"  class="table-dark">
        <th scope="row">{{libro.nombre}}</th>
        <td><img [src]="libro.imagen" alt="{{libro.nombre}}" width="90px"></td>
        <td>{{libro.autor}}</td>
        <td>{{libro.genero}}</td>
        <td>{{libro.anio}}</td>
        <td>{{libro.ranking}}</td>
        <td><a href="/registro"><button type="button" class="btn btn-sm btn-light btn-outline-primary">Editar</button></a></td>
        <td><a href="/RegistroExitoso"><button type="button" class="btn btn-sm btn-light btn-outline-primary">Eliminar</button></a></td>
      </tr>
    </tbody>
  </table>
</div>

