
h1{
    text-align: center;
    font-size: 3em;
    color:red;
    font-weight: bold;
}

table{
    margin: 0 auto;
    text-align: center;
    
}

table th,
table td {
    text-align: center;
    vertical-align: middle;
}

table tr{
    padding:10px;
}