<p>Acerca de nosotros</p>

La tripulación de Library DG <br />

<div>Por más tecnología que manejemos siempre necesitaremos rodearnos de las personas adecuadas para llevar a cabo aquello que queremos hacer. eData no es una excepción y como un avión necesita tripulantes, cuando decimos "nosotros" en las páginas de este sitio web nos referimos a la suma de esfuerzos que nos permite producir entregables de altísima calidad técnica y resultados.</div>

<br />

<div class="box">
    <div>Fabiana AGUERO - <img src="assets/fotos/FabianaAGUERO.jpg" width="100" height="100"></div>
    <div>Hern&acute;n BORGES - <img src="assets/fotos/HernanBORGES.jpg" width="100" height="100"></div>
    <div>Jorge PRYKMAK - <img src="assets/fotos/JorgePRYJMAK.jpg" width="100" height="100"></div>
    <div>Joskeiner SIMOSA - <img src="assets/fotos/JoskeinerSIMOSA.jpg" width="100" height="100"></div>
    <div>Cristian Mauro FABREGAT - <img src="assets/fotos/CristianFABREGAT.jpg" width="100" height="100"></div>
</div>