<p>Acerca de nosotros</p>

<div class="box">
    <div>Fabiana AGUERO - <img src="assets/fotos/FabianaAGUERO.jpg" width="100"></div>
    <div>Hern&acute;n BORGES - <img src="assets/fotos/HernanBORGES.jpg" width="100"></div>
    <div>Jorge PRYKMAK - <img src="assets/fotos/JorgePRYJMAK.jpg" width="100" ></div>
    <div>Joskeiner SIMOSA - <img src="assets/fotos/JoskeinerSIMOSA.jpg" width="100"></div>
    <div>Cristian Mauro FABREGAT - <img src="assets/fotos/CristianFABREGAT.jpg" width="100"></div>
</div>