<div class="fondo">

<div class="titulo">El equipo de Library DG</div>

<br />

<div class="texto">
    Nos enorgullece ser el corazón cultural y educativo de nuestra comunidad.<br />
    Nuestra misión es fomentar la pasión por la lectura, el aprendizaje continuo y la conexión comunitaria.<br />
    Trabajamos incansablemente para proporcionar recursos accesibles y un espacio acogedor que inspire a personas.</div>
<br />

<br />

<div class="box">
    <div class="elemento" ><div class="cargo">Directora</div><img class="foto" src="assets/fotos/FabianaAGUERO.jpg"><br />Fabiana AGUERO</div>
</div>

<br />

<div class="box">
    <div class="elemento"><div class="cargo">Editor</div><img class="foto" src="assets/fotos/HernanBORGES.jpg"><br />Hern&aacute;n BORGES</div>
    <div class="elemento"><div class="cargo">Editor</div><img class="foto" src="assets/fotos/JorgePRYJMAK.jpg"><br />Jorge PRYKMAK</div>
    <div class="elemento"><div class="cargo">Escritor</div><img class="foto" src="assets/fotos/JoskeinerURDANETA.jpg"><br />Joskeiner URDANETA</div>
    <div class="elemento"><div class="cargo">Escritor</div><img class="foto" src="assets/fotos/CristianFABREGAT.jpg"><br />Cristian FABREGAT</div>
</div>

</div>